.actionIcon {
  width: 12px;
  height: 12px;
  cursor: pointer;
  margin-right: 6px; }



.navEntry {
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 0px;
}

.navTitle {
  margin-left: 15px;
}

.q-check {
    min-width: 30px;
}

.q-leftpad {
    min-width: 70px;
}

.q-points {
    min-width: 70px;
}


.q-verse {
    min-width: 70px;
}

.q-text {
    
}

.chapterHeader {
    width: 100%;
}

.chapterHeader .md-subheader-inner {
    padding-top: 0px!important;
    padding-bottom: 0px!important;
    padding-left: 11px!important;
    background-color: #eeeeee!important;
}

.md-fab.md-pbe-theme {
    position:fixed!important;
}

.md-icon-button.md-pbe-theme {
    background-color: rgba(255,255,255,0);
}

.pbe-actions-fixed {
    position:fixed!important;
    bottom: 0px;
    right: 0px;
    min-width: 100%;
    background-color: #efefef;
    z-index: 10000;
}


.border-standard {
    border-style: solid;
    border-width: 1px;
}

.score-table {
    border-spacing: 20px 0px;
    width: 100%;

    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.score-points {
    min-width: 120px;
    font-size: 120px;
    text-align: center;
    padding: 20px 10px 0px 10px;
    margin: 0px 20px 0px 20px;
    border-top: 1px solid;
    border-right: 1px solid;
    border-left: 1px solid;
    cursor: pointer;
}

.score-points:focus {
    outline: none;
 }
 
.score-percent {
    
    min-width: 120px;
    height: 25px;
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
    padding: 10px 5px 10px 5px;
    margin: 0px 10px 10px 10px;
    cursor: pointer;
    background-color: #eeeeee;
    color: #444444;
}

.score-team {
    font-size: 15px;
    text-align: center;
    padding: 0px 10px 20px 10px;
    margin: 0px 20px 0px 20px;
    border-right: 1px solid;
    border-left: 1px solid;
    border-bottom: 1px solid;
    cursor: pointer;
}

.score-team:focus {
    outline: none;
 }


.score-history-table {
    border-spacing: 0px 0px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;


}
.score-history-current-row:focus {
    outline: none;
 }
.score-history-table:focus {
    outline: none;
 }

.score-team tr:focus {
    outline: none;
 }
 
.score-history-current-row {
    background-color: #ffff99;
}

.score-history-cell {
    padding: 10px;

}

.score-question-number {
    color: #0000aa;
    font-size: 14px;
    background-color: #eeeeff;
    padding: 5px;
    margin: 10px 0px 0px 0px;

}

.score-question-text {
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;
    
    color: #000088;
    font-size: 22px;
    background-color: #eeeeff;
    padding: 5px;
    margin: 10px 0px 20px 0px;
}

.practice-intro {
    font-size: 26px;
    background-color: #dddddd;
    padding: 5px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    color: #4444ff;
}

.practice-question {
    font-size: 36px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    color: #000000;
}

.practice-answer {
    font-size: 26px;
    padding: 5px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    background: #4444ff;
    color: #ffffff;

}

.practice-bible {
    font-size: 20px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    color: #aaaaaa;

}